include head.pug
link(rel='stylesheet', href='/css/talent_form.css')
include scripts.pug
.row.small-12
  .title-bar(data-responsive-toggle='example-animated-menu', data-hide-for='medium')
    .title-bar-title #{title}
    
form(method='POST', action='/admin/dashboard/update/company/:id')
  .row
    .small-12.columns
      label(for='name') Name
      input(type='text', placeholder='type ....', name='name', required, value=company.name)
  .row
    .small-12.columns
      label(for='email') Email Address
      input(type='email', placeholder='type ....', name='email', required, value=company.email)
    .small-12.columns
      label(for='phone') Phone Number
      input(type='tel', placeholder='(000) 000-0000', name='phone', required, value=company.phone)
  .row
    .small-12
      button.button.expanded(type='submit') Update
    
      a.button.expanded(href='/admin/dashboard/delete/company', data-id=company._id) Delete
      a.button.expanded(href='/admin/dashboard') Go Back
